API_ID=
API_HASH=
BOT_TOKEN=
AUTO_LEAVING_ASSISTANT=True
ASSISTANT_LEAVE_TIME=600
MONGO_DB_URI=mongodburl
LOG_GROUP_ID=-1001923310875
OWNER_ID=5988763828
SUPPORT_CHANNEL=https://t.me/Alemciyiz
SUPPORT_GROUP=https://t.me/SohbetAlemi
SET_CMDS=True
START_IMG_URL=https://telegra.ph/Alem-Music-06-01
STRING_SESSION=A PYROGRAM V2 STRING SESSION
