API_ID=
API_HASH=
BOT_TOKEN=
AUTO_LEAVING_ASSISTANT=True
ASSISTANT_LEAVE_TIME=600
MONGO_DB_URI=mongodburl
LOG_GROUP_ID=-1001923310875
OWNER_ID=5988763828
SUPPORT_CHANNEL=https://t.me/Alemciyiz
SUPPORT_GROUP=https://t.me/SohbetAlemi
SET_CMDS=True
START_IMG_URL=https://telegra.ph/Alem-Music-06-01
STRING_SESSION=BAFcxgMAn3nrY5frEavESuuo82ZPPDOr6nD2W7pGfdI_Ns0J1CBRqB4VYqEwHqOje6uuKG7arzS9To2P98ncTdS5BYl-bxPvwEDIF2l1eI-8_WjtkaSL2jPR_smiYXqDe406kdcjay6F7YxAwqkAJ1ahGXQiF3sysRsPuUuYSu68KK1UEJbWewV6YWWHGzRqNOyYNxwzH_A1Ij_zq5Hx4TeLnoaYfrD-IgrTFA7Cg6M1qwpLpAiIZOv4u9dQctgm9sAYzIyi7DhZMatzSXiGVg0YGZiVYFPPVj9PZTVYaxiZO4KozxbMWZCEBNjOA-ZUGKJacDghNM6ZwwirjOUE92KPEStNQAAAAAFiNE8RAA
